/* Global Css */
body {
    margin: 0;
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial;
    font-style: normal;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}
:root {
    --primary: #5e3bee;
    --heading-color: #282938;
    --bg-shade: #f5fcff;
    --github: #e62872;
    -darkblue: #1c1e53;
    --blck: #000;
    --white: #fff;
}
.btn {
    font-family: "Poppiness";
    display: inline-block;
    font-size: 16px;
    padding: 14px 32px;
    font-style: normal;
    line-height: 24px;
    font-weight: 400;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.5s;
}
.btn-outline-primary
{
    color: var(--primary);
    background-color: var(--white);
    border: 1px dolid var(--promary);
}
.btn-outline-primary:hover{
    color: var(--white);
    background-color: var(--primary);
}
.btn-primary
{
    color: var(--white);
    background-color: var(--primary);
    border: 1px dolid var(--promary);
}
.btn-primary:hover{
    color: var(--white);
    background-color: var(--github);
}
.btn-github
{
    color: var(--white);
    background-color: var(--github);
    border: var(--github);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-shadow: 0 1px 2px 0 rgba(16, 24, 40, 0.95);
    gap: 16px;
}
.btn-github:hover{
    color: var(--github);
    background-color: var(--white);
}

/* Ends Of Global Section Ends */